In [2]:
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import pandas as pd
import pandas as pd
from pandas_datareader import data
import yfinance as yf

In [15]:
# input
symbols = ['AAPL','MSFT','AMD','NVDA','GE']
start = '2012-01-01'
end = '2019-09-11'

# Read data 
dataset = yf.download(symbols,start,end)['Close']

# View Columns
close = dataset.fillna(0)

[*********************100%***********************]  5 of 5 completed

1 Failed download:
- AMD: No data found for this date range, symbol may be delisted

In [16]:
cl = close.round(2)

In [17]:
cl

             AAPL  AMD      GE    MSFT   NVDA
Date
2012-01-03  14.69  0.0  141.23   26.77   3.51
2012-01-04  14.77  0.0  142.77   27.40   3.55
2012-01-05  14.93  0.0  142.69   27.68   3.68
2012-01-06  15.09  0.0  143.46   28.11   3.63
2012-01-09  15.06  0.0  145.08   27.74   3.63
...           ...  ...     ...     ...    ...
2019-09-04  52.30  0.0   70.40  137.63  42.19
2019-09-05  53.32  0.0   70.48  140.05  44.94
2019-09-06  53.31  0.0   69.68  139.10  44.66
2019-09-09  53.54  0.0   71.68  137.52  45.12
2019-09-10  54.17  0.0   73.12  136.08  45.79

[1934 rows x 5 columns]

In [18]:
n = 'MSFT'

In [51]:
cl.loc[cl['AMD'] == 5.48]['GE'] = 2

/Users/kexin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
close['AMD'] == 5.48

Date
2012-01-03    False
2012-01-04    False
2012-01-05    False
2012-01-06    False
2012-01-09    False
              ...
2019-09-04    False
2019-09-05    False
2019-09-06    False
2019-09-09    False
2019-09-10    False
Name: AMD, Length: 1934, dtype: bool

In [27]:
close

                 AAPL        AMD          GE        MSFT       NVDA
Date
2012-01-03  14.686786   5.480000  141.230774   26.770000   3.510000
2012-01-04  14.765714   5.460000  142.769226   27.400000   3.550000
2012-01-05  14.929643   5.460000  142.692307   27.680000   3.677500
2012-01-06  15.085714   5.430000  143.461533   28.110001   3.635000
2012-01-09  15.061786   5.590000  145.076920   27.740000   3.635000
...               ...        ...         ...         ...        ...
2019-09-04  52.297501  30.950001   70.400002  137.630005  42.189999
2019-09-05  53.320000  31.500000   70.480003  140.050003  44.935001
2019-09-06  53.314999  30.559999   69.680000  139.100006  44.662498
2019-09-09  53.542500  30.500000   71.680000  137.520004  45.125000
2019-09-10  54.174999  30.230000   73.120003  136.080002  45.794998

[1934 rows x 5 columns]

['G', 'E']

In [10]:
a = [1,2,3,4]
b = [1,2]
list(set(a)-set(b))

[3, 4]

In [1]:
import pandas as pd

In [13]:
L = [[1,2], [2,3]]

In [14]:
df2 = pd.DataFrame(L, columns=['col1', 'col2'])

In [17]:
list(df2['col1'])

[1, 2]

In [18]:
def manualCheckFinal(stats_df):
    xml_dict = {}
    alpha_name = []
    alpha_pnls = {}
    
    for ind, row in stats_df.iterrows():
        xml = row['xml']
        star.run()
        keep = input()
        
        if keep == 'y':
            name = input()
            xml = input()
            pnl = list(star.pnls()['b0/0'])
            alpha_name.append(name)
            xml_dict[name] = xml
            alpha_pnls[name] = pnl
            
    collated_pnl = pd.DataFrame(alpha_pnls, columns=alpha_name)
    return collated_stats, collated_pnl, xml_dict

In [84]:
def visFinalAlphas(final_pnl):
    
    corr = final_pnl.corr()
    f, ax = plt.subplots(figsize=(12, 10))
    mask = np.triu(np.ones_like(corr, dtype=bool))
    cmap = sns.diverging_palette(230, 20, as_cmap=True)
    sns.heatmap(corr, annot=True, mask = mask, cmap=cmap)
    
    final_pnl['Batch'] = final_pnl.sum(axis=1)
    
    for col_name in final_pnl.columns:
        sns.lineplot(data=final_pnl[col_name].cumsum())
        plt.legend(labels = final_pnl.columns)
    
    return

In [63]:
def postRun(alpha_stats, alpha_xml, alpha_pnl, criteria, runEntireIS = False):
    
    #removed batch
    alpha_stats = alpha_stats
    filtered_stats = filterAlphas(alpha_stats, critieria)
    old_id = list(alpha_xml.keys())
    selected_id = list(filtered_stats['id'])
    remove_xml = [item for item in old_id if item not in selected_id]
    filtered_pnl = alpha_pnl.drop(columns=remove_xml)
    filtered_xml = {key: alpha_xml[key] for key in selected_id}
    
    if runEntireIS:
        for xml in filtered_xml.values():
        star.run()
        #build new stats
    
    return filtered_stats, filtered_pnl, filtered_xml

IndentationError: expected an indented block (<ipython-input-63-c749626d5c75>, line 14)

In [80]:
def collate(filtered_stats, filtered_pnl, filtered_xml, manual = True, batching = False, vis = True):
    
    filtered_stats, filtered_pnl, filtered_xml = postRun(collated_stats)
    
    if manual and not batching:
        filtered_stats, filtered_pnl, filtered_xml = manualCheckFinal(filtered_stats)
        if vis:
            visFinalAlphas(filtered_pnl)
            
        return filtered_stats, filtered_pnl, filtered_xml
            
    elif manual and batching:
        filtered_stats, filtered_pnl, filtered_xml = manualCheckFinal(filtered_stats)
        final_stats, final_pnl, final_xml = best_combination(filtered_stats, filtered_pnl, filtered_xml, criteria)
        if vis:
            visFinalAlphas(final_pnl)
            
        return final_stats, final_pnl, final_xml
    
    elif batching:
        final_stats, final_pnl, final_xml = best_combination(filtered_stats, filtered_pnl, filtered_xml, criteria)
        if vis:
            visFinalAlphas(final_pnl)
            
        return final_stats, final_pnl, final_xml

In [83]:
def best_combination(filtered_pnl, filtered_stats, filtered_xml, criteria):
    #get criteria
    min_sharpe = criteria['sharpe']
    max_turnover = criteria['turnover']
    max_corr = criteria['corr']
    stats_sorted = filtered_stats.sort_values(by=['IS:Sharpe'], ascending = False)
    num_alphas = filtered_stats.shape[0]
    sorted_alphas = filtered_stats[['id']]
    curr_best_combi = [filtered_stats.iloc[[0]]['id'][0]]
    curr_sharpe = filtered_stats.iloc[[0]]['IS:Sharpe'][0]
    curr_turnover = filtered_stats.iloc[[0]]['IS:turnover'][0]
    curr_pnl = filtered_pnl[curr_best_combi]
    count = 1
    
    while count < num_alphas:
        
        find_best = list(set(sorted_alphas)-set(curr_best_combi))
        temp_alphas = curr_best_combi.copy()
        temp_sharpe = curr_sharpe
        temp_turnover = curr_turnover
        temp_pnl = curr_pnl
        
        for alpha in find_best:
            print(f"Currently checking Alpha {alpha}, with Sharpe: {filtered_stats[filtered_stats['id']==alpha]['IS:Sharpe'][0]}, Turnover: {filtered_stats[filtered_stats['id']==alpha]['IS:Turnover'][0]}")
            aux_pnl = filtered_pnl[curr_best_combi + [alpha]].sum(axis=1)/(len(curr_best_combi)+1)
            
            #check addition of new alpha satisfies criteria
            if ((get_sharpe(aux_pnl) >= curr_sharpe -0.2) and (get_sharpe(aux_pnl) >= min_sharpe) and (get_turnover(aux_pnl) <= max_turnover)):
                if (getMaxCorr(aux_pnl) <= max_corr):
                #check addition of new alpha is better than previous addition and still satisfies correlation
                    if (get_sharpe(aux_pnl) > temp_sharpe):
                        temp_sharpe = get_sharpe(aux_pnl)
                        temp_turnover = get_turnover(aux_pnl)
                        temp_pnl = aux_pnl
                        temp_alphas = curr_best_combi + [alpha]
                    else:
                        print(f"Alpha {alpha} is not better than the other alphas added in the current batch")
                else:
                    print(f"Alpha {alpha} not added as it is too highly correlated")
            else:
                print(f"Alpha {alpha} not added as it did not increse batch sharpe")
                
            print(f"Current Combined Sharpe: {curr_sharpe}")
            print(f"Current Combined Turnover: {curr_turnover}")
            print(f"Currend selected id: {curr_best_combi}")
                
        curr_best_combi = temp_alphas
        curr_sharpe = temp_sharpe
        curr_turnover = temp_turnover
        curr_pnl = temp_pnl
        count += 1
    
    print(f"Batching Done. Selected a total of {len(curr_best_combi)} alphas")
    print(f"Final Combined Sharpe: {curr_sharpe}")
    print(f"Final Combined Turnover: {curr_turnover}")
    print(f"Final selected alphas: {curr_best_combi}")
    
    #Collate final pnl, xml and stats
    final_pnl = curr_pnl
    final_xml = {key: filtered_xml[key] for key in curr_best_combi}
    final_stats = filtered_stats.loc[filtered_stats['id'].isin(curr_best_combi)]
    final_batch_pnl = curr_pnl.sum(axis=1)/len(curr_best_combi)
    
    return final_pnl, final_xml, final_stats, final_batch_pnl

In [60]:
def best_combo_of(pnl_collated, stats, threshold, num=2):
    tats_sorted = stats.sort_values(by=['OS:Sharpe'], ascending = False)
    sorted_alphas = stats[['alpha_name']]
    curr_best_combi = [sorted_alphas[0]]
    count = 1
    curr_sharpe = stats.loc[stats['alpha_name'] == sorted_alphas[0]]['OS:Sharpe'].item()
    while count <= num:
        find_best = list(set(sorted_alphas)-set(curr_best_combi))
        temp = curr_best_combi.copy()
        for alpha in find_best:
            curr_pnl = pnl_collated[curr_best_combi + [alpha]].sum(axis=1)
            if get_sharpe(curr_pnl) > curr_sharpe and get_sharpe(curr_pnl) > threshold:
                curr_sharpe = get_sharpe(curr_pnl)
                if len(temp) > 1:
                    temp.pop()
                    temp.append(alpha)
                else:
                    temp.append(alpha)
            elif get_sharpe(curr_pnl) == curr_sharpe and get_turnover(positions) > curr_turnover:
                curr_turnover = get_turnover(positions)
                if len(temp) > 1:
                    temp.pop()
                    temp.append(alpha)
                else:
                    temp.append(alpha)
            elif get_sharpe(curr_pnl) == curr_sharpe and get_turnover(positions) == curr_turnover and get_mdd(curr_position) < curr_mdd:
                curr_mdd = get_mdd(curr_position)
                if len(temp) > 1:
                    temp.pop()
                    temp.append(alpha)
                else:
                    temp.append(alpha)
        curr_best_combi = temp
        count += 1
    best_sharpe = get_overall(curr_pnl)
    return curr_best_combi, curr_pnl, best_sharpe